<section class="artistinfo">

 	<div class="artistlist"> 
 		<a href="#/comment/{{itemId}}/nextPage/{{nextPageToken}}" class="btn btn-right"> Next Page &gt;</a>
 	</div>

	<ul class="artistlist">
		<a href="index.html">&laquo; Back to homepage</a>
		<li class "artist cf" ng-repeat="item in comments">

				<div class="info">
					<p>
					<div  class="info"  ng-bind-html="renderHtml(item.content)"> </div>
					</p>
				</div>
			

		</li>
	</ul>

	<div class="artistlist"> 
 		<a href="#/comment/{{itemId}}/nextPage/{{nextPageToken}}" class="btn btn-right"> Next Page &gt;</a>
 	</div>
	<a href="index.html">&laquo; Back to homepage</a>
</section>
